body {
  background-color: white;
}
h1 {
  background-color: white;
  margin: 0;
  padding: 12px;
  text-align: center;
},
h2,
a {
  color: black;
}
p {
  color: black;
  max-width: 90ch;
  text-align: left;
  font-style: normal;
}

header,
section {
  padding: 80px;
}